<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create client</title>
    <style type="text/css">
        body {
            padding: 20px;
        }

        label {
            display: inline-block;
            width: 120px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="create-form" th:action="@{/api/v1/messages/send}" th:value="${textMessage}" th:method="post" accept-charset="utf-8">
    <h1>Новое сообщение:</h1>

    <div class="row">
        <label for="textMessage">Введите текст:</label>
        <input id="textMessage" name="textMessage" type="text" th:value="*{textMessage}" value="John Doe"/>
    </div>

    <div class="row">
        <button type="submit">Отправить</button>
    </div>
</form>

</body>
</html>
